.canyon-report-dark{
  background-color: black;
}

.canyon-report-dark .text-default{
  color:rgba(255, 255, 255, 0.85) !important;
}

.canyon-report-dark .text-secondary{
  color:rgba(255, 255, 255, 0.45) !important;
}
