/* 进度条动画 */
@keyframes progress {
  0% {
    width: 0%;
    margin-left: 0;
  }
  50% {
    width: 60%;
    margin-left: 20%;
  }
  100% {
    width: 100%;
    margin-left: 0;
  }
}

.animate-progress {
  animation: progress 2s infinite ease-in-out;
}
