@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./assets/IBMPlexMono-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


.ant-menu-light.ant-menu-root.ant-menu-vertical{
  border-inline-end:none !important;
}
.ant-table-thead >tr>th{
  /*background-color: white !important;*/
}
a{
  color: #0071c2;
}
a:hover{
  color: #0071c2;
  opacity: .8;
  text-decoration:underline;
}

/*账单那边*/
.ant-collapse-content-box{
  padding: 0 !important;
}
/*登陆页面*/
.ant-tabs-nav{
  padding-left: 40px !important;
}

/*.ant-table-wrapper .ant-table-tbody >tr >td{*/
/*  border-bottom: none !important;*/
/*}*/

.ant-table-wrapper .ant-table-pagination.ant-pagination{
  margin-right: 16px;
}

.ant-collapse-header{
  background-color: #f8f9fa !important;
  padding: 24px 20px !important;
}

.ant-collapse-item{
  margin-bottom: 0 !important;
}

/*收藏的project的样式*/
.ant-table-row-level-0 .favor-heart{
  visibility: hidden;
  cursor: pointer;
}

.ant-table-row-level-0:hover .favor-heart{
  visibility:unset;
}



.content-class-no-found {
  background: #F6C6CE
}

.content-class-found {
  background: #F6C6CE
}

.dark .content-class-no-found {
  background: rgb(122, 84, 116);
}

.dark .content-class-found {
  background: rgb(122, 84, 116);
}


/*thead tr:nth-child(2){*/
/*  display: none !important;*/
/*}*/

.highlight{
  color: red !important;
}


.YourHighlightClass {
  padding: 0 !important;
  color: white !important;
  background: rgb(244,176,27) !important;
}





.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

/*.ant-breadcrumb{*/
/*  font-size: 18px !important;*/
/*}*/
