# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
*/README.md

# IDE
.idea
.vscode

# Node modules (will be installed in container)
node_modules
*/node_modules

# Build artifacts
packages/frontend/dist
packages/backend/main

# Nx cache
.nx

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
