#-----------------------System Config------------------------------#
SYSTEM_QUESTION_LINK=
#-----------------------Backend Config------------------------------#
# Prisma Config
DATABASE_URL=postgress://canyon:canyon@localhost:5432/canyon

MONGODB_URL=mongodb://xxxxx

# Gitlab Auth Config
GITLAB_URL="https://gitlab.com"
GITLAB_CLIENT_ID=""
GITLAB_CLIENT_SECRET=""
REDIRECT_URI=/oauth

APP_URI=http://
UPLOAD_URL=http://

PRIVATE_TOKEN=xxxxxx
