#-----------------------System Config------------------------------#
SYSTEM_QUESTION_LINK=https://github.com/canyon-project/canyon

#-----------------------Backend Config------------------------------#
# Prisma Config
DATABASE_URL=postgress://canyon:canyon@localhost:5432/canyon

# Gitlab Config
GITLAB_URL="***"
GITLAB_CLIENT_ID="***"
GITLAB_CLIENT_SECRET="***"
COVERAGE_DATA_URL=http://s3.xxx
REDIRECT_URI=http://localhost:3000/login

APP_URI=http://localhost:3000
UPLOAD_URL=http://localhost:3000


PRIVATE_TOKEN=***
