# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE / Editor
.idea/*
!.idea/rcb-settings.xml

# PNPM
.pnpm-store


#pnpm-lock.yaml

.env

db/sql


coverage

schema.gql

target/
#Cargo.lock

.turbo
pnpm-lock.yaml


# Logs
logs


# compiled output
/dist
/node_modules
/build

# Logs


# OS


# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


# dotenv environment variable files

.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
