@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/reset.css';

.shiki > code {
  font-size: 12px;
  line-height: 20px;
}

a{
  color: #3182ce;
  /*text-decoration: none;*/
}

.YourHighlightClass{
  padding: 0 !important;
  color: white !important;
  background: rgb(244, 176, 27) !important;
}
