{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "experimental": {
      "plugins": [
        ["swc-plugin-coverage-instrument", {}],
        [
          "./swc_plugin_canyon.wasm",
          {
            "instrumentCwd": ".",
            "sha": "xxx",
            "ci": true,
            "include":["features/add.js"]
            //             "keepMap": true
          }
        ]
      ]
    }
  }
}
