.ant-result-icon>.anticon{
    font-size: 32px !important;
}
.ant-result-icon{
    margin-bottom: 8px !important;
}
.ant-result .ant-result-title{
    font-size: 18px !important;
}
a{
    color: #3264ff;
}
a:hover{
    color: #3264ff;
    opacity: .8;
}