name: Babel Publish NPM

on:
  push:
    branches: [ "dev" ]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugins/babel-plugin-canyon
    # 新增条件：仅当提交信息匹配指定格式时触发
    if: |
      contains(github.event.head_commit.message, '(babel-plugin-canyon):') &&
      (github.ref == 'refs/heads/dev')
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: pnpm install
      - run: pnpm publish --access public -f --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
