name: publish-npm

on:
  push:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: pnpm install
      - run: pnpm run build
      - uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            packages/**/dist
            tools/**/dist
            plugins/**/lib
            tools/cli/bin

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-filter:
          - "@canyonjs/report-component"
          - "@canyonjs/report-html"
          - "@canyonjs/collect"
          - "babel-plugin-canyontest"
          - "@canyonjs/cli"
      fail-fast: false
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Publish ${{ matrix.package-filter }} to npm
        run: pnpm --filter=${{ matrix.package-filter }} publish --access public -f --no-git-checks
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
